<mjml>
  <mj-body>
    <mj-section>
      <mj-column>
        <mj-image width="1500px" src="<%= utils.getPublicUrl('/assets/img/email/mailRelanceCRA/header_structure.png') %>"></mj-image>
         </mj-column>
    </mj-section>
    <mj-section>
      <mj-column width="250px">
         <mj-image border="none" align="left" width="220px" padding-left="0" src="<%= utils.getPublicUrl('/assets/img/email/mailRelanceCRA/illu-mail.png') %>"></mj-image>
      </mj-column>
      <mj-column>
        <mj-text font-weight="bold" font-size="28px" color="#e1000f" line-height="1.5" align="left" padding="65px 10px 10px 20px"><strong>Des difficultés avec le Compte-Rendu d'Activité ?</strong></mj-text>
      </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" color="#000091" line-height="1.5" align="left">Madame, Monsieur,</mj-text>
       </mj-column>
    </mj-section>
     <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" color="#000091" line-height="1.5" align="left">Vous avez recruté au sein de votre structure un ou plusieurs <strong>Conseillers numériques France Services (CnFS)</strong> . <strong style="color: #e1000f;">Nous avons remarqué qu’un ou plusieurs CnFS au sein de votre structure ne complète(nt) pas ou peu ses Comptes-Rendus d'Activité sur leur Espace Coop.</strong></mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" color="#000091" line-height="1.5" align="left">Le Compte-Rendu d'Activité doit être <strong>obligatoirement</strong> rempli par les CnFS <strong>après chaque accompagnement réalisé</strong>. Il suffit de moins d'une minute sur un smartphone, une tablette ou un ordinateur pour renseigner la thématique d'accompagnement et le public rencontré.</mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" color="#000091" line-height="1.5" align="left">En tant qu'employeur, vous avez la <strong>responsabilité </strong>de vous assurer de la <strong>régularité </strong>et de la <strong>qualité </strong>des informations partagées dans les CRA auprès des CnFS. Cette obligation est inscrite dans la convention de subvention, qui peut être remise en cause en cas de non-respect de cet engagement. </mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" color="#000091" line-height="1.5" align="left">Les données récoltées via les CRA vous permettent notamment de <strong>valoriser</strong> et d’<strong>organiser les activités des CnFS, </strong>ou encore d’ <strong>améliorer  </strong>en continu<strong> votre offre de médiation numérique</strong>. Au niveau national, ces données permettent d’<strong>évaluer l’impact du dispositif, </strong>d'imaginer les modalités de sa <strong>pérennisation </strong>et de nouvelles politiques publiques pour l'inclusion numérique.</mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-weight="bold" font-size="24px" color="#e1000f" line-height="1.5" align="left">Votre CnFS n'est pas en mesure de remplir correctement son CRA ?</mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" color="#000091" line-height="1.5" align="left">Certaines <strong>situations exceptionnelles</strong> peuvent empêcher les CnFS de compléter leurs CRA (congés, arrêt maladie, etc.). Vous avez la possibilité de nous informer de ces situations en complétant le formulaire suivant (en association avec le(s) CnFS concerné(s)).</mj-text>
                <mj-button href="https://framaforms.org/condition-exceptionnelle-non-remplissage-des-cra-1650445633" align="center" background-color="#010191" color="#FFFFFF" border-radius="4px" href="#" font-size="16px" font-weight="bold" inner-padding="12px 20px 12px 20px" padding-bottom="18px" padding-top="0">Retrouvez le formulaire ici</mj-button>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0">
        <mj-column width="100%">
          <mj-divider border-color="#000091" border-width="3px" />
        </mj-column>
      </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="24px" color="#000091" line-height="1.5" align="left"><span style="background-color: #e1000f; color: #ffffff;"><strong>Rappel : comment accéder aux données du CRA ?</strong></span></mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" color="#000091" line-height="1.5" align="left">En tant qu'employeur, vous pouvez accéder aux CRA de vos Conseillers numériques  à travers votre « Espace structure ». Pour ce faire :</mj-text>
       </mj-column>
    </mj-section>
     <mj-wrapper padding="0">
      <mj-section padding="0">
        <mj-column>
          <mj-text padding-left="50px" color="#000091" font-size="16px" padding-top="0" padding-bottom="0">• Connectez-vous à l’<a href="https://admin.conseiller-numerique.gouv.fr/login?role=structure" style="color: #0092ff; text-decoration: underline;"><span style="background-color: #000091; color: #ffffff;"><strong>Espace Structure</strong></span></a></mj-text>
          <mj-text padding-left="50px" color="#000091" font-size="16px" padding-top="13px" padding-bottom="0">• Ouvrez l’onglet « Outil de suivi et pilotage des CnFS » dans le menu</mj-text>
          <mj-text padding-left="50px" color="#000091" font-size="16px" padding-top="13px" padding-bottom="0">• Cliquez sur le bouton « Accéder au tableau de bord des Conseillers numériques France services ».</mj-text>
        </mj-column>
      </mj-section>
    </mj-wrapper>
   <mj-section padding-top="10px" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" color="#000091" padding-bottom="0" line-height="1.5" align="left">A partir de cet espace, il vous sera possible de visualiser chaque Conseiller numérique France Services rattaché à votre organisation.</mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" padding-top="0" color="#000091" line-height="1.5" align="left"><strong style="background-color: #000091; color: #ffffff;">Astuce</strong> :  Nous vous invitons à enregistrer cette page dans vos favoris afin d'y accéder plus rapidement.</mj-text>
       </mj-column>
    </mj-section>
     <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-image width="1500px" src="<%= utils.getPublicUrl('/assets/img/email/mailRelanceCRA/detail_conseiller.jpeg') %>"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" padding-top="0" color="#000091" line-height="1.5" align="left">En cliquant sur « Afficher », les statistiques des CnFS vont apparaître. Il sera alors possible de sélectionner une période précise afin d'affiner le résultat.</mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="24px" color="#e1000f" font-weight="bold" line-height="1.5" align="left"><strong style="background-color: #e1000f; color: #ffffff;">Pour Rappel </strong> : des documents et outils à votre disposition</mj-text>
       </mj-column>
    </mj-section>
    <mj-wrapper padding="0">
      <mj-section padding="0">
        <mj-column>
          <mj-text padding-left="50px" color="#000091" font-size="16px" padding-top="0" padding-bottom="0">• Le <a href="https://cdn.conseiller-numerique.gouv.fr/Guide_outil_de_suivi_et_de_pilotage.pdf" style="color: #0092ff; text-decoration: underline;"><span style="color: #010191;"><strong>guide de l'outil de suivi et de pilotage</strong></span></a> pour vous accompagner dans l'utilisation de la plateforme ;</mj-text>
          <mj-text padding-left="50px" color="#000091" font-size="16px" padding-top="13px" padding-bottom="0">• Le guide de l'employeur pour les structures <a href="https://cdn.conseiller-numerique.gouv.fr/Guide%20employeur%20public.pdf" style="color: #0092ff; text-decoration: underline;"><span style="color: #010191;"><strong>publiques</strong></span></a> / <a href="https://cdn.conseiller-numerique.gouv.fr/Guide%20employeur%20prive.pdf" style="color: #0092ff; text-decoration: underline;"><span style="color: #010191;"><strong>privées</strong></span></a> ;</mj-text>
          <mj-text padding-left="50px" color="#000091" font-size="16px" padding-top="13px" padding-bottom="0">• La <a href="https://aide.conseiller-numerique.gouv.fr/fr/" style="color: #0092ff; text-decoration: underline;"><span style="color: #010191;"><strong>FAQ</strong></span></a>  qui contient de nombreuses réponses relatives au dispositif ;</mj-text>
          <mj-text padding-left="50px" color="#000091" font-size="16px" padding-top="13px" padding-bottom="0">• L'adresse mail générique pour toute question sur le dispositif : <a href="mailto:conseiller-numerique@anct.gouv.fr" style="color: #0092ff; padding-left: 10px; text-decoration: underline;"><span style="color: #000091;">conseiller-numerique@anct.gouv.fr</span></a></mj-text>
        </mj-column>
      </mj-section>
    </mj-wrapper>
    <mj-section padding-top="55px">
      <mj-column>
        <mj-image width="1500px" src="<%= utils.getPublicUrl('/assets/img/email/mailRelanceCRA/footer-mail.png') %>"></mj-image>
         </mj-column>
    </mj-section>
  </mj-body>
</mjml>
