<mjml>
  <mj-body>
    <mj-section>
      <mj-column>
        <mj-image width="1500px" src="<%= utils.getPublicUrl('/assets/img/email/mailRelanceCRA/header_structure.png') %>"></mj-image>
         </mj-column>
    </mj-section>
     <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" color="#000091" line-height="1.5" align="left">  <strong>Important : </strong> <i>Ce message est destiné aux responsables hiérarchiques directs des Conseillers numériques de votre structure. Merci de transmettre ce message aux personnes concernées.</i></mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" color="#000091" line-height="1.5" align="left">Madame, Monsieur,</mj-text>
       </mj-column>
    </mj-section>
     <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" color="#000091" line-height="1.5" align="left">Un mail de relance vous a été adressé <strong>il y a deux semaines</strong> vous interpellant sur le fait qu’un ou plusieurs Conseillers numériques au sein de votre structure <strong>ne complétai(en)t pas les Comptes-Rendus d’Activités (CRA)</strong>.</mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" color="#e1000f" line-height="1.5" align="left">
          <strong>Depuis ce jour, et suite à ce mail de relance envoyé à vous ainsi qu'a votre/vos Conseiller(s) numérique(s), nous avons constaté qu’aucun CRA n’avait été complété.</strong></mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" color="#000091" line-height="1.5" align="left">Remplir les Compte-Rendu d’Activités après chaque accompagnement est une <strong>obligation</strong> pour les Conseillers numériques. <strong>Cet engagement que vous avez pris en signant la convention de subvention entre votre structure et la Caisse des Dépôts et Consignations nécessite d’être respecté, tout manquement est donc susceptible d’entrainer des répercussions sur votre participation au dispositif.</strong></mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" color="#000091" line-height="1.5" align="left">Ainsi, nous vous prions de <strong>prendre les mesures nécessaires</strong> afin que votre/vos Conseillers numériques complète(nt) de manière <strong>régulière et qualitative</strong> leurs Comptes-Rendus d’Activités.</mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0">
        <mj-column width="100%">
          <mj-divider border-color="#000091" border-width="3px" />
        </mj-column>
      </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" color="#000091" line-height="1.5" align="left"><strong>Pour rappel</strong>, en cas de <strong>situation exceptionnelle</strong> (congés, arrêt maladie, etc.) empêchant le(s) Conseiller(s) numérique(s) de remplir les CRA, vous avez la possibilité de compléter le formulaire suivant (en association avec le/les Conseiller(s) numérique(s) concerné(s)) :</mj-text>
        <mj-button href="https://framaforms.org/condition-exceptionnelle-non-remplissage-des-cra-1650445633" align="center" background-color="#010191" color="#FFFFFF" border-radius="4px" href="#" font-size="16px" font-weight="bold" inner-padding="12px 20px 12px 20px" padding-bottom="10px" padding-top="0">Retrouvez le formulaire ici</mj-button>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0">
        <mj-column width="100%">
          <mj-divider border-color="#000091" border-width="3px" />
        </mj-column>
      </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" color="#e1000f" line-height="1.5" align="left">
          <strong>Dans le cas où aucune évolution n'aura été observée d'ici <u>15 jours</u>, nous vous contacterons par téléphone afin de faire le point ensemble sur les raisons qui empêchent votre/vos Conseiller(s) numérique(s) de remplir les CRA.</strong></mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" color="#000091" line-height="1.5" align="left"><span style="background-color: #010191; color: #ffffff;"><strong>Vous ou votre Conseiller numérique avez des difficultés d’accès à l’outil de suivi et de pilotage&nbsp;?</strong></span></mj-text>
       </mj-column>
    </mj-section>
    <mj-wrapper padding="0">
      <mj-section padding="0">
        <mj-column>
          <mj-text color="#3b3f44" font-size="16px" padding-top="0" padding-bottom="0">• Le <a href="https://cdn.conseiller-numerique.gouv.fr/Guide_outil_de_suivi_et_de_pilotage.pdf" style="color: #0092ff; text-decoration: underline;"><span style="color: #010191;"><strong>guide de l'outil de suivi et de pilotage</strong></span></a> pour vous accompagner dans l'utilisation de la plateforme ;</mj-text>
          <mj-text color="#3b3f44" font-size="16px" padding-top="13px" padding-bottom="0">• Le guide de l'employeur pour les structures <a href="https://cdn.conseiller-numerique.gouv.fr/Guide%20employeur%20public.pdf" style="color: #0092ff; text-decoration: underline;"><span style="color: #010191;"><strong>publiques</strong></span></a> / <a href="https://cdn.conseiller-numerique.gouv.fr/Guide%20employeur%20prive.pdf" style="color: #0092ff; text-decoration: underline;"><span style="color: #010191;"><strong>privées</strong></span></a> ;</mj-text>
          <mj-text color="#3b3f44" font-size="16px" padding-top="13px" padding-bottom="0">• La <a href="https://aide.conseiller-numerique.gouv.fr/fr/" style="color: #0092ff; text-decoration: underline;"><span style="color: #010191;"><strong>FAQ</strong></span></a>  qui contient de nombreuses réponses relatives au dispositif ;</mj-text>
          <mj-text color="#3b3f44" font-size="16px" padding-top="13px" padding-bottom="0">• L'adresse mail générique pour toute question sur le dispositif : <a href="mailto:conseiller-numerique@anct.gouv.fr" style="color: #0092ff; text-decoration: underline;">conseiller-numerique@anct.gouv.fr</a></mj-text>
          <mj-text color="#3b3f44" font-size="16px" padding-top="13px" padding-bottom="0">• La permanence téléphonique au <span style="color: #010191;"><strong>01.58.50.89.42</strong></span> joignable du lundi au jeudi de 9h30 à 12h00 et le mercredi de 14h00 à 16h00.</mj-text>
        </mj-column>
      </mj-section>
    </mj-wrapper>
    <mj-section>
      <mj-column>
        <mj-image width="1500px" src="<%= utils.getPublicUrl('/assets/img/email/mailRelanceCRA/footer-mail.png') %>"></mj-image>
         </mj-column>
    </mj-section>
  </mj-body>
</mjml>
