<mjml>
  <mj-body>
    <mj-section>
      <mj-column>
        <mj-image width="1500px" src="https://img-cache.net/im/4363325/f6c3d73405eeeae67e94bad4d1b525ef8d03368062a3c5efffd35506c86dd738.png?e=2g8Tvjf-0P7f_ioWBq31bvmtqCElcFWG1clWsGj59u5d1y5IiTm-nvij6m79eZi8iVQZdMB3kub4SgNf-JBPoMKGvdnfuwgHOMbKYtm_B1ioXSOspVL7JM331R_h-HHgjJSwV22a5NA1fejZ93jN-tK3QhZ24_Yx46vzAMAEQgUI03M9mZZ5ZKm4tSZBUP87QZVpZAMEVNdeBMbKSh0gTbnen0ecOFBAWg65dX7UKsnQAp847wYvQsIebd08"></mj-image>
         </mj-column>
    </mj-section>
    <mj-section>
      <mj-column width="250px">
         <mj-image border="none" align="left" width="200px" src="https://img-cache.net/im/4363325/cecc15891d7e52b6ac178cefb2a37027ff61b411462492c7b39f7b124cb47be3.png?e=a1MBmGHt4VwKy6ofm8llA4JoKzQCxNxw90-YNBrz4Pu6r8VHYFsDt8c_9cpvWyVwJLAZ2bpXVuRbsl1SeDAqfNWz3nJ9v3_e5LGKuzBy_lH-NCG4-MDCgJ87LFQQDyjFYuZCAddNYRcfeDn9Kz3KwTI13EcnGPlWfb4EyDJ6KvMNivn_fOnmLSFNZ4CdwTxMUNTrnlxDWkveH0Ceo8_tCg-YCODxMtPLuwi5mswm7AO9cESCtU_RtJUHB811"></mj-image>
      </mj-column>
      <mj-column>
        <mj-text font-weight="bold" font-size="28px" color="#e1000f" line-height="1.5" align="left" padding="0 10px 10px 20px"><strong>Comment (et pourquoi) remplir son compte-rendu d'activité ?</strong></mj-text>
      </mj-column>
    </mj-section>
     <mj-section>
       <mj-column>
          <mj-text font-weight="bold" font-size="16px" color="#000091" line-height="1.5" align="left">Nous avons remarqué que <strong>vous ne remplissez pas ou peu votre Compte-Rendu d'Activité (CRA)</strong> sur votre Espace Coop. Peut-être avez-vous besoin d'un petit éclairage sur ce qu'est le CRA, comment bien le remplir, et à quoi les données collectées servent 👇</mj-text>
       </mj-column>
    </mj-section>
    <mj-section>
      <mj-column width="360px" background-color="#e1000f">
         <mj-text font-weight="bold" font-size="24px" color="#ffffff" line-height="1.5" align="left">Le compte-rendu d'activité</mj-text>
       </mj-column>
       <mj-column>
         <mj-text font-weight="bold" font-size="24px" color="#e1000f" line-height="1.5" align="left">, qu'est-ce que c'est ?</mj-text>
       </mj-column>
    </mj-section>
    <mj-section>
      <mj-column background-color="#000091">
         <mj-text font-weight="bold" font-size="16px" color="#ffffff" line-height="1.5" align="left">Après chaque intervention auprès du public.</mj-text>
       </mj-column>
      <mj-column>
         <mj-text font-size="16px" color="#000091" line-height="1.5" align="left">, vous avez l'obligation de compléter un compte-rendu d’activité (CRA) depuis votre <strong>Espace Coop.</strong></mj-text>
       </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
         <mj-image width="1500px" src="https://img-cache.net/im/4363325/924e8e179f82484012fff2196872486f8e65f30dc5bc4f0ee477f87812dd67fe.png?e=0aJA_669ngiLGZnKY0ru7DKQdx1TAFDlRv29Yod47SoKlX1xAuJpIpP0UetDl7_L4n_5K87sDw_GGn36dsiDM9-8ena5gUAPdC-E_cK8DZwHcRF9mpgNVaVd35L5-4w4RZUqAEmuyq63-h0b9HCs8_TlXFFyGZC4CPg2yVYe_gbub8GP3sgLnG-4RjcNZb9TmJJzt-gV-6kwmgZbRVUhzrjVgAaa3jV8E8hJBhmPX0PwhMsqe-0xAeNEivs9"></mj-image>
      </mj-column>
    </mj-section>
     <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" color="#000091" line-height="1.5" align="left">Cette étape est très rapide et  <strong>s’effectue en quelques clics sur votre Espace Coop</strong>, via un smartphone ou une tablette. Le CRA doit être rempli le jour de l’activité, mais il est recommandé de le compléter à chaque fin de séance.</mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-image width="1500px" src="https://img-cache.net/im/4363325/915cfb0628da05b2da9783818988e0d6323e00e4c904c236ae90ca4521abffa4.jpg?e=j7B1-qxEUT8P22CvkCzArtwrTErVZO7n75etRMqjGWWdXgzLq86aEsLv68psC1E-cIUDV6-o9UlW_IwlovvbgpHS0W85LBm810_eY_Z3Hsc2YiAgn7KxJV5fzuKmg_gp1NtfkaenfrSRWPiFGKfyRK9Lcd9Xa8_cAx-UpyDxGT7bHjiQrhyPjDsWUGBBsQhe3Nko2VvlKNJa9CT-gPXvHhk3Dg9yFibDnnpy72XarPwnMD065z4DKXBD"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-weight="bold" font-size="24px" color="#e1000f" line-height="1.5" align="left">A quoi servent les données collectées ?</mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" color="#000091" padding-bottom="0" line-height="1.5" align="left">Les données transmises par le CRA ne sont pas nominatives ; elles ont un .<strong>objectif de pilotage et d’évaluation territoriale et nationale du dispositif.</strong></mj-text>
        <mj-text font-size="16px" padding-top="0" padding-bottom="0" color="#000091" line-height="1.5" align="left">Les données du CRA vous serviront à <strong>valoriser et organiser votre activité.</strong>, tout comme à votre employeur pour piloter la mission et <strong>évaluer son projet d’inclusion numérique.</strong></mj-text>
        <mj-text padding-top="0" font-size="16px" color="#000091" line-height="1.5" align="left">Elles serviront par ailleurs à l’État, financeur du dispositif, afin d’en évaluer l’impact, de mieux comprendre les besoins des usagers mais également de <strong>démontrer l’intérêt du dispositif </strong>avec l’ensemble des parties prenantes, en vue de la pérennisation du dispositif.</mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0">
      <mj-column>
        <mj-text align="left" color="#ffffff" font-size="18px" font-weight="bold"padding="0">
          <span>🧐</span>
          <span style="background: #000091; padding: 5px;">BONNE PRATIQUE</span>
          <span style="color: #000091; padding: 5px; padding-top: 10px" font-size="18px" font-weight="bold"> Epingler la page du CRA dans son navigateur OU créer un raccourci vers le CRA sur la page d'accueil de son smartphone ou de sa tablette.</span>
        </mj-text>
       </mj-column>
    </mj-section>
     <mj-section padding-bottom="0">
      <mj-column>
        <mj-text align="left" color="#ffffff" font-size="16px" padding="0">
          <p>
             <span style="background: #000091; padding: 5px;">Pour rappel :</span>
          <span style="color: #000091; padding: 5px; padding-top: 10px" font-size="18px" font-weight="bold">Votre employeur agit comme garant de la complétion des comptes-rendus d'activités. Il peut également accéder aux données de vos CRA à travers son espace structure..</span>
          </p>
        </mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0">
        <mj-column width="100%">
          <mj-divider border-color="#000091" border-width="3px" />
        </mj-column>
      </mj-section>
    <mj-section padding-top="0">
      <mj-column>
        <mj-text align="left" color="#3b3f44" font-size="16px" padding="0">
          <p style="margin: 0;">
            <span style="background-color: #ffffff; color: #e1000f;">
              <strong>⚠</strong>
            </span>
            <span style="background-color: #ffffff; color: #000091;">
              <strong> </strong>
            </span>
            <span style="background-color: #ffffff; color: #e1000f;">
              <strong>Vous avez une circonstance exceptionnelle qui ne vous permet pas de remplir des CRA ?</strong>
            </span>
            <span style="background-color: #ffffff; color: #000091;"> Vous êtes en congés maternité/paternité, en arrêt maladie longue durée ou avez une autre condition que vous jugez incompatible avec un remplissage régulier des comptes-rendus d'activité ? Merci de nous en informer en
            </span>
            <a href="https://framaforms.org/condition-exceptionnelle-non-remplissage-des-cra-1650445633" target="_blank" style="color: #0092ff; text-decoration: underline;"><span style="background-color: #000091; color: #ffffff;">
              <strong>complétant ce formulaire</strong>
              </span>
            </a>
            <span style="background-color: #000091; color: #ffffff;">
              <strong>.</strong>
            </span>
            <span style="background-color: #ffffff; color: #000091;"> Nous étudierons votre cas et adapterons nos relances en conséquence.
            </span>
          </p>
        </mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0">
        <mj-column width="100%">
          <mj-divider border-color="#000091" border-width="3px" />
        </mj-column>
      </mj-section>
    <mj-section>
      <mj-column>
        <mj-image width="1500px" src="https://img-cache.net/im/4363325/355749a7e907026b3c38d0cb76ca2a86d5feecc22b9feeb4d0faf2c1832833da.png?e=QUqwu3BDyWmyMjOkrr0BoHlisDm6BqDHcpQi0uHyfBka-cs4ODK9BZ6pp_UW3rlQjV2ZT4qWJ6kQV7ImtaIVd1gyFtKWSp6BV3e_nhSgHh54WmNWYhdQn6R4BI64ZeMAn2TtkM7c22cLMWKKwBfEai7wQs97Hc5VKXwFWvbxlfbHDppp9lrWahrkv9_1sArgSFBr2aOQFaBxKqeAzdhaNYVIk1VSCfEAHyPUYI1eAp7A2qL3NVc0e5NtytUa"></mj-image>
         </mj-column>
    </mj-section>
  </mj-body>
</mjml>
