<mjml>
  <mj-body>
    <mj-section>
      <mj-column>
        <mj-image width="1500px" src="<%= utils.getPublicUrl('/assets/img/email/mailRelanceCRA/header-mail.png') %>"></mj-image>
         </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        <mj-text font-weight="bold" font-size="28px" color="#e1000f" line-height="1.5" align="left"><strong>📑 Complétion de vos comptes-rendus d'activité : deuxième relance</strong></mj-text>
      </mj-column>
    </mj-section>
     <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" color="#000091" line-height="1.5" align="left">Vous avez reçu il y a deux semaines un mail de relance concernant votre non-remplissage des  <strong>comptes-rendus d'activité (CRA)</strong> sur votre Espace Coop. Depuis ce jour, nous avons constaté qu'aucun CRA n'a été rempli et nous en avons également informé votre structure par email.</mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" padding-top="0" color="#000091" line-height="1.5" align="left"><strong style="background-color: #000091; color: #ffffff;">Après chaque intervention auprès du public</strong>, vous avez l'obligation de compléter un compte-rendu d’activité (CRA) depuis votre <strong>Espace Coop.</strong></mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" color="#000091" line-height="1.5" align="left">Nous vous rappelons que <strong> le remplissage régulier des CRA est une obligation pour tous les conseillers numériques. </strong>Votre employeur en a pris l'engagement lors de la signature de la convention qui le lie au dispositif national conseiller numérique.</mj-text>
       </mj-column>
    </mj-section>
     <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" color="#000091" line-height="1.5" align="left">Les manquements trop nombreux à cette règle pourront remettre en question votre bonne participation au dispositif, ainsi que celle de votre structure. Cette relance sera la dernière avant un <strong>appel en direct avec votre structure</strong> pour discuter des raisons qui empêchent un remplissage régulier des CRA. </mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
        <mj-column width="100%">
          <mj-divider border-color="#000091" border-width="3px" />
        </mj-column>
      </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
        <mj-text align="left" color="#3b3f44" font-size="16px" line-height="1.5">
          <p style="margin: 0;">
            <span style="background-color: #ffffff; color: #e1000f;">
              <strong>⚠</strong>
            </span>
            <span style="background-color: #ffffff; color: #000091;">
              <strong> </strong>
            </span>
            <span style="background-color: #ffffff; color: #e1000f;">
              <strong>Vous avez une circonstance exceptionnelle qui ne vous permet pas de remplir des CRA ?</strong>
            </span>
            <span style="background-color: #ffffff; color: #000091;"> Vous êtes en congés maternité/paternité, en arrêt maladie longue durée ou avez une autre condition que vous jugez incompatible avec un remplissage régulier des comptes-rendus d'activité ? Merci de nous en informer en
            </span>
            <a href="https://framaforms.org/condition-exceptionnelle-non-remplissage-des-cra-1650445633" target="_blank" style="color: #0092ff; text-decoration: underline;"><span style="background-color: #000091; color: #ffffff;">
              <strong>complétant ce formulaire.</strong>
              </span>
            </a>
            <span style="background-color: #ffffff; color: #000091; margin-left: 5px;"> Nous étudierons votre cas et adapterons nos relances en conséquence.
            </span>
          </p>
        </mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0">
        <mj-column width="100%">
          <mj-divider border-color="#000091" border-width="3px" />
        </mj-column>
      </mj-section>
    <mj-section>
      <mj-column>
        <mj-image width="1500px" src="<%= utils.getPublicUrl('/assets/img/email/mailRelanceCRA/footer-mail.png') %>"></mj-image>
         </mj-column>
    </mj-section>
  </mj-body>
</mjml>
